<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="LT">
        <style type='text/css'> 
            * { font-family: 'Arial Unicode MS'; }
        </style>
</head>

<body link="blue" vlink="#954F72" style='word-wrap:break-word'>

	<div class="WordSection1">

		<p class="MsoNormal" align="center" style='text-align:center'><b><span lang="LT">IKIMOKYKLINIO
					UGDYMO PASLAUGŲ SUTARTIS</span></b></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><u><span lang="LT">20     m.
					                             d.  </span></u><span lang="LT"> Nr. ____</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">               Ikimokyklinio
				ugdymo paslaugų sutartis sudaroma tarp ikimokyklinio ugdymo įstaigos <u th:text="${name}"></u>
				 (atstovas <u th:text="${director}"></u>, veikiantis(-i)
				pagal Darželio nuostatus) ir Tėvų/Globėjų (toliau - Tėvai<b>),</b>
				atstovaujančių vaiko interesus. </span></p>

		<p class="MsoNormal" align="center" width="1in" style='text-align:center'><u th:text="${mainGuardian}"></u></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">(Vieno iš Tėvų/Globėjų
				vardas, pavardė)</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><u th:text="${mainGuardianAddress}"></u></p>

		<p class="MsoNormal" align="center" style='text-align:center'><u th:text="${mainGuardianPhone}"></u></p>
		
		<p class="MsoNormal" align="center" style='text-align:center'><u th:text="${mainGuardianEmail}"></u></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">(faktinės
				gyvenamosios vietos adresas, telefono Nr., el. paštas)</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT"> (Sutartį
				pasirašius vienam iš Tėvų, kitas iš Tėvų neatleidžiamas nuo šios sutarties
				įsipareigojimų vykdymo).</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><b><span lang="LT">I.
					SUTARTIES OBJEKTAS</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">               Ikimokyklinio
				ugdymo paslaugų sutartimi (toliau – Sutartis)<b> </b>Darželis įsipareigoja
				teikti  ugdymo paslaugas <u th:text="${child}"></u> toliau
				– Ugdytinis,</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">(vaiko vardas,
				pavardė)</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">o Tėvai
				įsipareigoja apmokėti už šias paslaugas bei vykdyti visus įsipareigojimus,
				prisiimtus Sutartimi.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">               Ugdymo
				paslaugos apima sisteminį neformalaus ugdymų plano(-ų), ugdymo programos(-ų)
				sudarymą ir įgyvendinimą atitinkamoms amžiaus grupėms pagal LR Švietimo ir
				mokslo ministerijos bei Klaipėdos rajono savivaldybės (toliau – Savivaldybė) patvirtintas
				programas, rekomendacijas, tvarkos aprašus ir kitus norminius teisės aktus. </span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><b><span lang="LT">II.
					SUTARTIES ŠALIŲ ĮSIPAREIGOJIMAI</span></b></p>

		<ol style='margin-top:0in' start='1' type='1'>
			<li class="MsoNormal" style='text-align:justify'><b><span lang="LT">Darželis įsipareigoja:</span></b></li>
		</ol>

		<p class="MsoNormal" style='margin-left:39.0pt;text-align:justify;text-indent:
-21.0pt'><span lang="LT">1.1.<span style='font:7.0pt "Times New Roman"'>&#160; </span></span><span lang="LT">įgyvendinti
				ikimokyklinio ugdymo programą.</span></p>

		<p class="MsoNormal" style='margin-left:39.0pt;text-align:justify;text-indent:
-21.0pt'><span lang="LT">1.2.<span style='font:7.0pt "Times New Roman"'>&#160; </span></span><span lang="LT">užtikrinti,
				kad suteiktos paslaugos atitiktų galiojančius teisės aktus;</span></p>

		<p class="MsoNormal" style='margin-left:39.0pt;text-align:justify;text-indent:
-21.0pt'><span lang="LT">1.3.<span style='font:7.0pt "Times New Roman"'>&#160; </span></span><span lang="LT">užtikrinti,
				kad paslaugos atitiktų ugdytinio poreikius, individualizuoti
				ir diferencijuoti </span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">ugdymo turinį,
				skiriant visoms vaiko raidos sritims – sveikatos, socialinei, kalbos, pažinimo,
				meninei – vienodą dėmesį,  pritaikyti jį specialiųjų poreikių vaikams;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.4. teikti
				pedagoginę, specialiąją pedagoginę pagalbą, kineziterapeuto, masažuotojo, regos
				korekcijos specialisto paslaugas, bendrauti ir bendradarbiauti su specialiųjų
				poreikių vaikų individualios korekcinės pagalbos institucijomis;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.5.
				organizuoti medicininę pagalbą Ugdytiniui nelaimės atveju. Ugdytiniui susirgus
				ar susižeidus  informuoti Tėvus;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.6.
				organizuoti papildomo ugdymo veiklą atsižvelgiant į vaiko poreikius ir įstaigos
				galimybes;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       <i>* Už papildomos,
					Švietimo įstatymu nereglamentuotos, bet Tėvų pageidavimu vykdomos mokamos
					veiklos (būrelių, užsiėmimų, studijų ir kt.) kokybę Darželis neatsako.</i></span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.7. ugdymosi
				pasiekimus vertinti objektyviai ir nešališkai, vadovaujantis individualios
				pažangos principu;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.8. teikti
				informaciją apie Ugdytinio pasiekimus, elgesį Tėvams ir saugoti šios informacijos
				konfidencialumą.       </span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.9. bendradarbiauti
				su Tėvais sprendžiant ugdymo proceso organizavimo, vaikų ugdymo(si) klausimus,
				inicijuoti Tėvų dalyvavimą Darželio savivaldoje;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       1.10. tvarkyti
				Ugdytinio asmens duomenis vadovaujantis Asmens duomenų teisinės apsaugos
				įstatymu.</span></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">       2. Darželis
					turi teisę:</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">       </span></b><span lang="LT">2.1. savo
				nuožiūra kurti ir taikyti pedagoginės veiklos programas,
				metodus ir formas;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       2.2. Sutartyje
				nustatytomis sąlygomis ir tvarka atsisakyti teikti ikimokyklinio ugdymo paslaugas
				ir nutraukti šią sutartį savo iniciatyva;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       2.3. konsultuotis
				ir informuoti apie rimtą Sutarties pažeidimą, atitinkamas institucijas (Vaiko
				teisių apsaugos skyrių, Klaipėdos rajono pedagoginę psichologinę tarnybą ir
				pan.);</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       2.4.
				reikalauti, kad Tėvai imtųsi konkrečių priemonių dėl netinkamo Ugdytinio
				elgesio;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       2.5.
				fotografuoti, filmuoti Ugdytinį darželio švenčių, ekskursijų ir kitų ugdymo
				tikslais organizuojamų renginių metu.</span></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">       3. Tėvai
					įsipareigoja</span></b><span lang="LT">:</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.1. ugdyti
				vaiko pagarbą mokytojams, bendraamžiams bei Darželio bendruomenės nariams;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.2. leisti
				patikrinti vaiko sveikatą, bei asmens higieną Darželio sveikatos priežiūros specialistams
				ir pedagogams, siekiant užkirsti kelią pedikuliozei ir kitų užkrečiamųjų ligų
				plitimui;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.3. leisti
				kineziterapeutui atlikti skeleto ir raumenų būklės tyrimą, siekiant pagerinti
				biomechaninių padėčių vystymąsi;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.4.  leisti
				regos korekcijos specialistui, esant poreikiui, įvertinti regos aštrumą,
				siekiant gerinti vaikų regėjimą;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.5. gavę
				pranešimą apie skirtą vietą Įstaigoje, per 10 kalendorinių dienų turi kreiptis
				į Įstaigą, patvirtinti vaiko atvykimą ir pateikti visus reikalingus dokumentus
				(vaiko gimimo liudijimo kopiją, elektroninį sveikatos pažymėjimą ir vėliau
				kiekvienais metais (forma Nr. E027-1) bei pažymą, patvirtinančią, kad
				deklaracijoje gyvenamoji vieta nurodyta Klaipėdos rajono savivaldybė;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.6.
				pasiimti Ugdytinį iš Darželio per 2 valandas po to, kai Tėvams buvo pranešta
				apie įtariamą Ugdytinio ligą ar susižeidimą;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.7. pirmą
				Ugdytinio neatvykimo dieną informuoti telefonu ar atvykus apie Ugdytinio ligą (pedikuliozę)
				ar kitą Darželio nelankymo priežastį iki 8.15 val. ryto grupės arba bendruoju
				telefonu;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.8. ligos
				atveju nevesti Ugdytinio į Darželį;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.9.
				informuoti  apie bet kokius specialius Ugdytinio poreikius (ugdymosi, maisto,
				alergijos ir pan.);</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">      
			</span><span lang="LT">3.10. atlyginti Ugdytino padarytą materialinę žalą
				Darželiui ar kitiems asmenims, kurią vaikas padaro būdamas Darželyje;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.11.
				atvesti Ugdytinį į Darželį švarų, aprengtą tvarkingais, švariais drabužiais,
				esant tinkamoms oro sąlygoms, neprieštarauti jo išvedimui į lauką, pasirūpinti
				atsarginiais drabužiais vaikui perrengti;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.12. laiku,
				nustatyta tvarka ir terminais sumokėti Savivaldybės nustatyto dydžio mokestį už
				teikiamas paslaugas;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.13. laiku,
				numatyta tvarka ir terminais, sumokėti už Tėvų pageidavimu Ugdytiniui teikiamas
				papildomas paslaugas Darželyje;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.14. Ugdytinį
				privalo atlydėti į Darželį ir pasiimti iš Darželio suaugę asmenys. </span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.15.
				neleisti Ugdytiniui neštis į Darželį vertingų ir pavojingų<b> </b>daiktų (
				mobiliųjų telefonų, fotoaparatų, elektroninių žaidimų, pinigų, aštrių daiktų,
				vaistų ir pan.) bei maisto produktų, galinčių sukelti pavojų vaikų sveikatai ir
				saugumui (saldumynų su kremu ar šokoladu, gėrimų su dažikliais, konservantais,
				saldikliais, bulvių traškučių ir pan.);</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        3.16.
				sutikti, kad Ugdytinio asmens ir kiti teisės aktuose nustatyti duomenys bus tvarkomi
				teisės aktuose nustatytuose registruose;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       3.17.
				aprūpinti Ugdytinį individualiomis higienos ir ugdymosi priemonėmis.                      </span></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">       4. Tėvai
					turi teisę:</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">       </span></b><span lang="LT">4.1. žinoti vaiko
				ugdymosi rezultatus, iškylančias socializacijos,
				psichologines ar pedagogines problemas;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">      4.2. parinkti
				papildomo ugdymo veiklą (ekskursijas, išvykas ir kitus papildomus edukacinius
				renginius) pagal vaiko poreikius ir Darželio galimybes.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       4.3. teikti
				siūlymus dėl ugdymo darbo organizavimo, ugdymo kokybės gerinimo, dalyvauti
				Tėvams skirtuose renginiuose, susirinkimuose, savivaldoje.</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><b><span lang="LT">III.
					SUTARTIES ĮSIGALIOJIMAS, GALIOJIMAS, KEITIMAS IR NUTRAUKIMAS</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       5. Sutartis
				įsigalioja nuo jos pasirašymo dienos ir galioja iki Ugdytinis baigs <u>ikimokyklinio
					ugdymo programą</u>.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       6. Sutartis
				gali būti nutraukta:</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       6.1. šalių
				susitarimu;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       6.2. Tėvams
				vienašališkai pareiškus apie Sutarties nutraukimą prieš 10 darbo dienų;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       6.3. Darželis
				vienašališkai gali nutraukti Sutartį:</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       6.3.1 kai
				Ugdytinio elgesys kelia realią ir akivaizdžią grėsmę Darželio vaikų arba
				Darželio darbuotojų saugumui;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        6.3.2.
				Tėvai nuolat pažeidinėja Sutarties 3.14 punkto reikalavimą  laiku atvesti ir
				pasiimti ugdytinį;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        6.3.3.
				Tėvai vėluoja atsiskaityti už teikiamas paslaugas 2 mėnesius.<span> </span>Sutarties
				nutraukimas neatleidžia nuo prievolės
				sumokėti už suteiktas paslaugas.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        7. Visi Sutarties
				pakeitimai, priedai ir papildymai  sudaromi tik raštu, Sutartis turi būti registruota
				teisės aktų nustatyta tvarka.</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><b><span lang="LT">IV.
					GINČŲ SPRENDIMAS</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        8. Ginčytini
				ugdymo proceso organizavimo, Darželio veiklos, sutarties pažeidimo klausimai
				sprendžiami šalims geranoriškai bendradarbiaujant. Ginčytini klausimai
				pirmiausiai aptariami su grupės mokytoju, direktoriaus pavaduotoju ugdymui,
				kitais specialistais. Neradus sprendimo, kreipiamasi į Darželio direktorių.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">       9. Tėvų
				prašymus dėl ginčų objektyvumo nagrinėja direktoriaus įsakymu sudaryta
				komisija, kurią sudaro administracijos, pedagogų ir ugdytinio atstovai.</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">Sutarties šalių
					parašai:</span></b></p>

		<p class="MsoNormal" style='text-align:justify'><b><span lang="LT">&#160;</span></b></p>

		<p class="MsoNormal"><span lang="LT">&#160;</span></p>

		<p class="MsoNormal"><span lang="LT">Ugdymo įstaigos atstovas<br></br>
				              
				                                                                                     <u th:text="${director}"></u></span>
		</p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">                                        
				               (parašas)                                      (vardas, pavardė)</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">Tėvas/Globėjas     </span></p>

		<p class="MsoNormal" style='text-align:justify'><span lang="LT">        
				                                                                                          <u th:text="${mainGuardian}"></u></span>
		</p>

		<p class="MsoNormal" style='text-align:justify'><span
				lang="LT">                                                         
				(parašas)                                    (vardas, pavardė)</span></p>

		<p class="MsoNormal" align="center" style='text-align:center'><span lang="LT">&#160;</span></p>

		<p class="MsoNormal"><span lang="LT">&#160;</span></p>

		<p class="MsoNormal" style='margin-left:255.15pt;text-align:justify'><span lang="LT"
				style='font-size:8.0pt'>&#160;</span></p>

	</div>

</body>

</html>
